<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="default"
         resolveDependencies="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="Tests Helpers Module">
      <directory>tests/Helpers/Tests</directory>
    </testsuite>
    <testsuite name="Tests Fixtures Tests">
      <directory>tests/Fixture/Tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
