<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" 
         colors="true" 
         cacheDirectory=".phpunit.cache"
         executionOrder="default"
         resolveDependencies="true">
  <testsuites>
    <testsuite name="Application Module">
      <directory>tests/Application</directory>
    </testsuite>
    <testsuite name="Domain Module">
      <directory>tests/Domain</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
